          <div class="rd-navbar-aside">
            <div data-custom-toggle=".rd-navbar-aside" data-custom-toggle-disable-on-blur="true" class="rd-navbar-aside-toggle"><span></span></div>
            <div class="rd-navbar-aside-content context-dark">
              <ul class="rd-navbar-aside-group list-units">
                <li>
                  <div class="unit unit-horizontal unit-spacing-xs">
                    <div class="unit-left"><span class="icon icon-xxs-small icon-primary material-icons-place icon-shift-1 offset-top-2"></span></div>
                    <div class="unit-body"><a href="#" class="link-white-v2 reveal-inline">2381 Rosecrans Ave,  CA 90245. USA</a></div>
                  </div>
                </li>
                <li>
                  <div class="unit unit-horizontal unit-spacing-xs">
                    <div class="unit-left"><span class="icon icon-xxs icon-primary fa-clock-o offset-top-2"></span></div>
                    <div class="unit-body">
                      <p class="text-white">Mon – Sat: 9:00am–18:00pm. Sunday CLOSED</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="unit unit-horizontal unit-spacing-xs">
                    <div class="unit-left"><span class="icon icon-xxs icon-primary material-icons-phone icon-shift-2"></span></div>
                    <div class="unit-body"><a href="callto:#" class="link-white-v2">1900-2345-234</a></div>
                  </div>
                </li>
              </ul>
              <div class="rd-navbar-aside-group">
                <ul class="list-inline list-inline-reset">
                  <li><a href="#" class="icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-facebook"></a></li>
                  <li><a href="#" class="icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-twitter"></a></li>
                  <li><a href="#" class="icon icon-round icon-abbey-filled icon-xxs-smallest fa fa-google-plus"></a></li>
                </ul>
              </div>
            </div>
          </div>