    <section class="section-66 section-sm-top-100 section-sm-bottom-75">
      <div class="shell">
        <h3 class="text-center">our <span class="text-thin">team</span></h3>
        <div class="offset-top-22 offset-md-top-40">
          <div data-items="1" data-sm-items="3" data-stage-padding="15" data-loop="false" data-margin="15" data-mouse-drag="false" data-nav="true" data-dots="true" class="owl-carousel owl-carousel-center owl-nav-modern owl-style-minimal owl-style-minimal-inverse text-center">
            <div class="owl-item text-center">
              <div class="thumbnail-variant-5">
                <div class="thumbnail-variant-5-img-wrap"><img src="images/151x151.jpg" width="129" height="129" alt="" class="img-circle"></div>
                <h4>John Doe</h4>
                <div class="text-dusty-gray">Managing Director</div>
                <div class="divider-fullwidth bg-porcelain"></div>
                <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-gray-base">1900-2345-234</a></div>
                <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="#b497" class="link-gray-base"><span class="__cf_email__" data-cfemail="e980878f86a98d8c848685808782c7869b8e">philip@gmail.com</span></a></div>
              </div>
            </div>
            <div class="owl-item text-center">
              <div class="thumbnail-variant-5">
                <div class="thumbnail-variant-5-img-wrap"><img src="images/151x151.jpg" width="129" height="129" alt="" class="img-circle"></div>
                <h4>Amanda Smith</h4>
                <div class="text-dusty-gray">Accountant</div>
                <div class="divider-fullwidth bg-porcelain"></div>
                <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-gray-base">1900-2345-234</a></div>
                <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="#6744" class="link-gray-base"><span class="__cf_email__" data-cfemail="375e5951587753525a585b5e595c19584550">philip@gmail.com</span></a></div>
              </div>
            </div>
            <div class="owl-item text-center">
              <div class="thumbnail-variant-5">
                <div class="thumbnail-variant-5-img-wrap"><img src="images/151x151.jpg" width="129" height="129" alt="" class="img-circle"></div>
                <h4>David Nicholson</h4>
                <div class="text-dusty-gray">Audit Manager</div>
                <div class="divider-fullwidth bg-porcelain"></div>
                <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-gray-base">1900-2345-234</a></div>
                <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="#7350" class="link-gray-base"><span class="__cf_email__" data-cfemail="b6dfd8d0d9f6d2d3dbd9dadfd8dd98d9c4d1">philip@gmail.com</span></a></div>
              </div>
            </div>
            <div class="owl-item text-center">
              <div class="thumbnail-variant-5">
                <div class="thumbnail-variant-5-img-wrap"><img src="images/151x151.jpg" width="129" height="129" alt="" class="img-circle"></div>
                <h4>John Doe</h4>
                <div class="text-dusty-gray">Managing Director</div>
                <div class="divider-fullwidth bg-porcelain"></div>
                <div class="link-group"><span class="icon icon-xxs icon-primary material-icons-local_phone"></span><a href="callto:#" class="link-gray-base">1900-2345-234</a></div>
                <div class="link-group"><span class="icon icon-xxs icon-primary fa-envelope-o"></span><a href="#9ebd" class="link-gray-base"><span class="__cf_email__" data-cfemail="f990979f96b99d9c949695909792d7968b9e">philip@gmail.com</span></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="range range-xs-center offset-top-60">
          <div class="cell-sm-10 cell-md-10 cell-lg-12">
            <div class="panel panel-lg bg-primary bg-white-outline-btn text-center">
              <h3 class="text-white">Request <span class="text-thin">a callback</span></h3>
              <form class="rd-mailform group group-bottom offset-top-15 offset-sm-top-35">
                <div class="group-item form-group">
                  <input id="index-request-name" type="text" name="name" data-constraints="@Required" class="form-control">
                  <label for="index-request-name" class="form-label">First Name</label>
                </div>
                <div class="group-item form-group">
                  <input id="index-request-phone" type="text" name="phone" data-constraints="@Numeric @Required" class="form-control">
                  <label for="index-request-phone" class="form-label">Phone Number</label>
                </div>
                <div class="group-item form-group">
                  <select data-minimum-results-for-search="Infinity" data-constraints="@Required" class="form-control select-filter">
                    <option value="1">I Would Like to Discuss</option>
                    <option value="2">I Wouldn't Like to Discuss</option>
                  </select>
                </div>
                <div class="group-item group-item-sm">
                  <button type="submit" class="btn btn-block btn-white-outline">submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>