 <section>
      <div class="range range-condensed range-xs-center range-sm-left">
        <div class="cell-xs-10 cell-sm-4 height-fill">
          <article class="icon-box icon-box-top-line">
            <div class="box-top">
              <div class="box-icon"><span class="icon icon-primary icon-lg icon-1"></span></div>
              <div class="box-header">
                <h5><a href="#">Internal Audit</a></h5>
              </div>
            </div>
            <div class="box-body">
              <p class="text-gray-base">Audit services are designed to help your business mitigate risk, create new efficiencies and better support strategic objectives.</p>
            </div>
            <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
        </div>
        <div class="cell-xs-10 cell-sm-4 height-fill offset-top-40 offset-sm-top-0">
          <article class="icon-box icon-box-top-line">
            <div class="box-top">
              <div class="box-icon"><span class="icon icon-primary icon-lg icon-2"></span></div>
              <div class="box-header">
                <h5><a href="#">Accounting</a></h5>
              </div>
            </div>
            <div class="box-body">
              <p class="text-gray-base">A range of services designed to provide timely preparation of company accounts, whether it be at the financial year end or on a monthly basis.</p>
            </div>
            <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
        </div>
        <div class="cell-xs-10 cell-sm-4 height-fill offset-top-40 offset-sm-top-0">
          <article class="icon-box icon-box-top-line">
            <div class="box-top">
              <div class="box-icon"><span class="icon icon-primary icon-lg icon-3"></span></div>
              <div class="box-header">
                <h5><a href="#">Audit</a></h5>
              </div>
            </div>
            <div class="box-body">
              <p class="text-gray-base">Audits are verified by sight, confirmation, discussion with management, assessment of internal controls and analytical procedures.</p>
            </div>
            <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
        </div>
        <div class="cell-xs-10 cell-sm-4 height-fill offset-top-40 offset-sm-top-0">
          <article class="icon-box">
            <div class="box-top">
              <div class="box-icon"><span class="icon icon-primary icon-lg icon-4"></span></div>
              <div class="box-header">
                <h5><a href="#">Legislative Support</a></h5>
              </div>
            </div>
            <div class="box-body">
              <p class="text-gray-base">To ensure the quality and effectiveness of every business activity, we support our every client by supporting them in all legislative issues.</p>
            </div>
            <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
        </div>
        <div class="cell-xs-10 cell-sm-4 height-fill offset-top-40 offset-sm-top-0">
          <article class="icon-box">
            <div class="box-top">
              <div class="box-icon"><span class="icon icon-primary icon-lg icon-5"></span></div>
              <div class="box-header">
                <h5><a href="#">Review</a></h5>
              </div>
            </div>
            <div class="box-body">
              <p class="text-gray-base">Reviews are less detailed and consist predominantly of an assessment of the company`s books and records.</p>
            </div>
            <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
        </div>
        <div class="cell-xs-10 cell-sm-4 height-fill offset-top-40 offset-sm-top-0">
          <article class="icon-box">
            <div class="box-top">
              <div class="box-icon"><span class="icon icon-primary icon-lg icon-6"></span></div>
              <div class="box-header">
                <h5><a href="#">Attest Services</a></h5>
              </div>
            </div>
            <div class="box-body">
              <p class="text-gray-base">Attestation services that we provide, include the process of independent review of the data validity audited by an accountant.</p>
            </div>
            <a href="#" class="btn btn-icon-only btn-icon-single btn-icon-default"><span class="icon icon-sm material-icons-arrow_forward"></span></a> </article>
        </div>
      </div>
    </section>
   