 <section class="section-with-counters bg-primary text-center">
      <div class="shell bg-cape-cod context-dark section-60 section-md-90">
        <h4 class="text-rolling-stone text-bold text-uppercase">Looking for</h4>
        <h3 class="offset-top-2"><span class="text-thin">a First-Class</span> auditor? </h3>
        <p class="text-white">With a lot of experience in audit, hiring us will become a proper solution for your business!</p>
        <div class="range offset-top-60 list-md-dashed">
          <div class="cell-sm-3">
            <div class="h1 small counter-bold counter">850</div>
            <div class="offset-top-0 text-bold text-white text-uppercase">Trusted Clients</div>
          </div>
          <div class="cell-sm-3 offset-top-40 offset-sm-top-0">
            <div class="h1 small counter-bold counter">18</div>
            <div class="offset-top-0 text-bold text-white text-uppercase">Awards</div>
          </div>
          <div class="cell-sm-3 offset-top-40 offset-sm-top-0">
            <div class="h1 small counter-bold counter">21</div>
            <div class="offset-top-0 text-bold text-white text-uppercase">Years of Experience</div>
          </div>
          <div class="cell-sm-3 offset-top-40 offset-sm-top-0">
            <div class="h1 small counter-bold counter">16</div>
            <div class="offset-top-0 text-bold text-white text-uppercase">Experts</div>
          </div>
        </div>
        <div class="offset-top-50 offset-md-top-75 inset-xs-left-60 inset-xs-right-60">
          <div class="reveal-sm-flex range-sm-center range-sm-middle"><a href="appointment.html" class="btn btn-rect btn-primary reveal-block reveal-sm-inline-block">Make an Appointment</a><span class="text-italic text-white inset-sm-left-20 inset-sm-right-20 reveal-block reveal-sm-inline-block text-big-18">or</span><a href="services.html" style="min-width:236px;" class="btn btn-rect btn-white-outline offset-top-0 reveal-block reveal-sm-inline-block">See All services</a></div>
        </div>
      </div>
    </section>