	<section>
      <div data-loop="false" data-autoplay="false" data-simulate-touch="true" class="swiper-container swiper-slider swiper-variant-1 bg-gray-base">
        <div class="swiper-wrapper text-center">
          <div data-slide-bg="images/1920x900.jpg" class="swiper-slide">
            <div class="swiper-slide-caption">
              <div class="shell">
                <div class="range range-xs-center">
                  <div class="cell-sm-11 cell-md-10">
                    <div data-caption-animate="fadeInUp" data-caption-delay="0s" class="text-white text-uppercase jumbotron-custom border-modern">The Business </div>
                    <div data-caption-animate="fadeInUp" data-caption-delay="450s" class="offset-sm-top-5">
                      <p class="text-big-22  veil reveal-sm-inline-block">We look forward to getting to know you and to helping you <br>
                        take your company to new heights!</p>
                    </div>
                    <div data-caption-animate="fadeInUp" data-caption-delay="550s" class="offset-top-27"><a href="appointment.html" class="btn btn-primary">make An Appointment</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-slide-bg="images/1920x900.jpg" class="swiper-slide">
            <div class="swiper-slide-caption">
              <div class="shell">
                <div class="range range-xs-center">
                  <div class="cell-sm-11 cell-md-10 cell-lg-12">
                    <div data-caption-animate="fadeInUp" data-caption-delay="0s" class="text-white text-uppercase jumbotron-custom border-modern">Experience great service</div>
                    <div data-caption-animate="fadeInUp" data-caption-delay="450s" class="offset-sm-top-5">
                      <p class="text-big-19 text-white veil reveal-sm-inline-block">Optimize audit costs using our years of experience</p>
                    </div>
                    <div data-caption-animate="fadeInUp" data-caption-delay="550s" class="offset-top-27"><a href="appointment.html" class="btn btn-primary">make An Appointment</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-scrollbar veil-lg"></div>
        <div class="swiper-nav-wrap veil reveal-lg-block">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </section>
