    <section class="bg-cape-cod context-dark">
      <div class="shell">
        <div class="range range-xs-center range-md-left">
          <div class="cell-xs-10 cell-md-6 text-left section-60 section-sm-90">
            <div>
              <h3>successful <span class="text-thin">cases</span> </h3>
              <div class="offset-top-40 carousel-testimonials-home">
                <div class="inset-lg-right-50">
                  <div id="child-carousel" data-for=".carousel-parent" data-arrows="false" data-loop="false" data-dots="false" data-swipe="true" data-items="1" data-xs-items="3" data-sm-items="3" data-md-items="3" data-lg-items="4" data-slide-to-scroll="1" data-center-mode="false" data-center-padding="0" class="slick-slider slick-slider slick-carousel-round-image slick-images">
                    <div class="item">
                      <div class="imp-wrap"><img src="images/99x99.jpg" alt="" width="99" height="99"/> </div>
                    </div>
                    <div class="item">
                      <div class="imp-wrap"><img src="images/99x99.jpg" alt="" width="99" height="99"/> </div>
                    </div>
                    <div class="item">
                      <div class="imp-wrap"><img src="images/99x99.jpg" alt="" width="99" height="99"/> </div>
                    </div>
                    <div class="item">
                      <div class="imp-wrap"><img src="images/99x99.jpg" alt="" width="99" height="99"/> </div>
                    </div>
                  </div>
                </div>
                <div data-arrows="false" data-loop="false" data-dots="true" data-swipe="true" data-child="#child-carousel" data-for="#child-carousel" data-items="1" data-xs-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1" data-slide-to-scroll="1" data-center-mode="false" class="slick-slider carousel-parent slick-dots-variant-1 offset-top-35">
                  <div class="item inset-left-10 inset-right-10 inset-">
                    <div class="inset-lg-right-85">
                      <blockquote class="quote-left">
                        <div class="range range-xs-bottom">
                          <div class="cell-xs-6">
                            <div class="quote-name"> <cite>Amelia Lee</cite> </div>
                            <div class="text-dusty-gray">Sales, demolink.org</div>
                          </div>
                          <div class="cell-xs-6 text-center offset-top-22 offset-xs-top-0">
                            <div class="quote-desc range reveal-flex">
                              <div class="cell-xs-6">
                                <div class="quote-desc-text text-fuel-yellow">-20%</div>
                                <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                              </div>
                              <div class="cell-xs-6 offset-top-0">
                                <div class="quote-desc-text text-primary">+17%</div>
                                <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="divider-fullwidth"></div>
                        <div class="quote-body"> <q>I would not hesitate even one bit to work with them for my future tax and accounting needs.</q> </div>
                      </blockquote>
                      <div class="offset-top-22"><a href="#" class="btn btn-primary">read more</a></div>
                    </div>
                  </div>
                  <div class="item inset-left-10 inset-right-10 inset-">
                    <div class="inset-lg-right-85">
                      <blockquote class="quote-left">
                        <div class="range">
                          <div class="cell-xs-6">
                            <div class="quote-name"> <cite>Mark Wilson</cite> </div>
                            <div class="text-dusty-gray">CEO "WilsonCompany"</div>
                          </div>
                          <div class="cell-xs-6 text-center offset-top-22 offset-xs-top-0">
                            <div class="quote-desc range reveal-flex">
                              <div class="cell-xs-6">
                                <div class="quote-desc-text text-fuel-yellow">-30%</div>
                                <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                              </div>
                              <div class="cell-xs-6 offset-top-0">
                                <div class="quote-desc-text text-primary">+22%</div>
                                <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="divider-fullwidth"></div>
                        <div class="quote-body"> <q>I've never known another auditor more prepared or focused. You havethe ability to dissect a case much like a skilled surgeon, with absolute calm. Nothing seems to rattle you or distract from the goal on a case.</q> </div>
                      </blockquote>
                      <div class="offset-top-22"><a href="#" class="btn btn-primary">read more</a></div>
                    </div>
                  </div>
                  <div class="item inset-left-10 inset-right-10 inset-">
                    <div class="inset-lg-right-85">
                      <blockquote class="quote-left">
                        <div class="range">
                          <div class="cell-xs-6">
                            <div class="quote-name"> <cite>Jill Miller</cite> </div>
                            <div class="text-dusty-gray">Artist</div>
                          </div>
                          <div class="cell-xs-6 text-center offset-top-22 offset-xs-top-0">
                            <div class="quote-desc range reveal-flex">
                              <div class="cell-xs-6">
                                <div class="quote-desc-text text-fuel-yellow">-29%</div>
                                <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                              </div>
                              <div class="cell-xs-6 offset-top-0">
                                <div class="quote-desc-text text-primary">+19%</div>
                                <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="divider-fullwidth"></div>
                        <div class="quote-body"> <q>I am happy that I chose Easy Audit for my US tax returns and would recommend it to everyone.</q> </div>
                      </blockquote>
                      <div class="offset-top-22"><a href="#" class="btn btn-primary">read more</a></div>
                    </div>
                  </div>
                  <div class="item inset-left-10 inset-right-10 inset-">
                    <div class="inset-lg-right-85">
                      <blockquote class="quote-left">
                        <div class="range">
                          <div class="cell-xs-6">
                            <div class="quote-name"> <cite>Christopher Taylor</cite> </div>
                            <div class="text-dusty-gray">Financial Consultant</div>
                          </div>
                          <div class="cell-xs-6 text-center offset-top-22 offset-xs-top-0">
                            <div class="quote-desc range reveal-flex">
                              <div class="cell-xs-6">
                                <div class="quote-desc-text text-fuel-yellow">-28%</div>
                                <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                              </div>
                              <div class="cell-xs-6 offset-top-0">
                                <div class="quote-desc-text text-primary">+21%</div>
                                <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="divider-fullwidth"></div>
                        <div class="quote-body"> <q>Over the last 6 years I have found their services to be reliable and their advice to be practical and clear.</q> </div>
                      </blockquote>
                      <div class="offset-top-22"><a href="#" class="btn btn-primary">read more</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-md-6 section-image-aside section-image-aside-right">
            <div style="background-image: url(images/946x689.jpg)" class="section-image-aside-img veil reveal-md-block"></div>
          </div>
        </div>
      </div>
    </section>