<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html" %}
</head>

<body data-spy="scroll" data-target="#navbarResponsive">
<!--- Start Home Section -->
<section id="home">
  <!---  navigation  -->
    {% include "partials/nav.html" %}
  <!--- navigation -->

  <!--- Start Course Section -->
    {% include "partials/course.html" %}
  <!--- End course Section -->

  <!--- Start features Section -->
    {% include "partials/features.html" %}
  <!--- End features Section -->

  <!--- Start resource Section -->
    {% include "partials/resources.html" %}
  <!--- End resource Section -->

  <!--- Start contact Section -->
    {% include "partials/contact.html" %}
  <!--- End contact Section -->

</section>
<!--- End Home Section -->





<!--- Script Source Files -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<!--- End of Script Source Files -->

</body>
</html>
