<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.html" %}
</head>
<body style="height:1400px;background:gray;">
 
      {% block content %}
      
      {% endblock %}
    

   <!-- MENU -->
     {% include "partials/menu_hydro.html" %}
 <!-- Menu End -->





<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="js/jquery.stellar.min.js"></script> 
<script src="js/jquery.magnific-popup.min.js"></script> 
<script src="js/smoothscroll.js"></script> -->
<script src="js/custom.js"></script>

</body>
</html>